.total__order {
  background-color: #BFF5C0;
}

.total__arrival {
  background-color: #BEE6FF;
}

.total__returning {
  background-color: #FFBDBD;
}

.total {
  background-color: bisque;
}

.product-story__count {
  background-color: rgba(212, 212, 212, 0.821);
  text-align: center;
  font-weight: bold;
}
